.createListingForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2rem;

	width: min(calc(100vw - 2rem), 800px);

	height: fit-content;

	gap: 1.2rem;

	border: 1px solid #777;

	background-color: white;
}

.createListingForm>h1 {
	font-size: 1.4rem;
	font-weight: 400;
	text-align: center;
}

.createListingForm>p {
	margin: 0 auto;
	color: var(--text-colour);
	font-size: 0.9rem;
	text-align: center;
}

.createListingForm .buttonsContainer {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.createListingForm .buttonsContainer button {
	flex: 1;
}
