.navComponent {
	width: 100%;
	padding: 1rem;
	background-color: var(--background-colour);
	color: var(--text-colour);
	z-index: -3;
}

.navInner {
	max-width: 1600px;

	margin: 0 auto;

	display: flex;
	flex-direction: row;
	justify-content: end;
	align-items: center;
	gap: 2rem;

	z-index: -3;
}

.navLink {
	font-size: 1rem;
	display: block;
	color: var(--text-colour);
	transition: all 200ms;
	position: relative;
	min-width: 100px;
	max-width: fit-content;
	padding: 5px 1rem;
	text-align: center;

	z-index: 1;
}

.navLink:hover, .navLink.activeNavLink {
	color: #fff;
}

.navLink::after {
	content: '';
	height: 2px;
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0;
	transition: all 200ms;
	background-color: var(--ui-green);
	z-index: -2;
}

.navLink:hover::after, .navLink.activeNavLink::after {
	height: calc(100%);
}

.navLinkText {
	display: block;
}

.navLink svg {
	height: 1em;
	width: 1em;
}


@media screen and (max-width: 600px) {
	.navLinkText {
		display: none;
	}

	.navLink svg {
		height: 2em;
		width: 2em;
	}
}