.navComponent {
	width: 100%;
	padding: 1rem;
	/* background-color: var(--background-colour); */
	color: var(--text-colour);
	z-index: -3;
}

.navInner {
	max-width: 1600px;

	margin: 0 auto;

	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	gap: 1rem;

	z-index: -3;
}

.navLink {
	border: 2px solid var(--text-colour);
	border-radius: 1em 0 1em 0;
	font-size: 1rem;
	display: block;
	color: var(--text-colour);
	background-color: var(--ui-green);
	transition: all 200ms;
	position: relative;
	min-width: 100px;
	max-width: fit-content;
	padding: 5px 1rem;
	text-align: center;
}

.navLink:hover, .navLink.activeNavLink {
	background-color: var(--background-colour);
}

.navLinkText {
	display: block;
}

.navLink svg {
	height: 1em;
	width: 1em;
}


@media screen and (max-width: 600px) {
	.navInner {
		gap: 1rem;
	}
	.navLinkText {
		display: none;
	}

	.navLink svg {
		height: 1.5em;
		width: 1.5em;
	}
}