
.card {
    display: flex;
    flex-direction: column;

    background: var(--ui-green);
    margin: 1em;
    padding: 1em;
    border-radius: 1em;

    color: var(--text-colour);
}

.book-thumbnail {
    max-width: 20vw;
}
